.*
!.git*
_*
*.out
*.swp

results/ncbi_dataset/*
!results/ncbi_dataset/*_download_date.txt

results/ncbi_taxonomy

results/trees/*/*
!results/trees/*/extract_cds_stats.txt
!results/trees/*/accessions_with_bad_dates_reset.tsv

results/logs
